# REVIEW QUESTIONS PAGE 8

In [1]:
#1
def cube(number):
    expo = number**3
    return expo

cube(2)

8

In [5]:
#2
def greet(name):
    print(f'Hello, {name}!')

greet('Luke')

Hello, Luke!

# CHALLENGE: CONVERT TEMPERATURE

In [15]:
#1
def convert_cel_to_far(cel):
    far = (float(cel) * 1.8) + 32
    return far

userInput = input('Enter a temperature in degrees C: ')
print(f'{userInput} degrees  C = {convert_cel_to_far(userInput):.2f} degrees F')

Enter a temperature in degrees C:  37

37 degrees  C = 98.60 degrees F

In [17]:
#2
def convert_far_to_cel(far):
    cel = (float(far) - 32) / 1.8
    return cel

userInput = input('Enter a temperature in degrees C: ')
print(f'{userInput} degrees  F = {convert_far_to_cel(userInput):.2f} degrees C')

Enter a temperature in degrees C:  72

72 degrees  F = 22.22 degrees C

# REVIEW QUESTIONS PAGE 17

In [31]:
#1
for num in range(2,11):
    print(num)

2
3
4
5
6
7
8
9
10

In [32]:
#2
n = 2
while n < 11:
    print(n)
    n += 1

2
3
4
5
6
7
8
9
10

In [30]:
#3
def doubles(num):
    result = num * 2
    return result

n = 2
counter = 1
while counter < 4:
    print(doubles(n))
    n += n
    counter += 1

4
8
16